#game {
    background-color: #5c94fc;
}

#game-container {
    position: relative;
    text-align: center;
}

.game-info {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 40px;
}

.menu-item {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #b0e0e6;
}

#game-over {
    visibility: hidden;
}

#pad-controls {
    visibility: hidden;
}

#control-left {
    position: absolute;
    left: 0;
    bottom: 0;
}

#control-up {
    position: absolute;
    left: 130px;
    bottom: 0;
}

#control-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

